<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="{{ site.description }}">
	<meta name="keyword" content="{{ site.keyword }}">
	<meta name="author" content="satuhearty">
	<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.url }}/assets/images/favicon/favicon-96x96.png" sizes="96x96">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@hardinerna">
	<meta name="twitter:creator" content="@satuhearty">
	<meta name="twitter:title" content="{{ site.title }}">
	<meta name="twitter:description" content="{{ site.description }}">
	<meta name="twitter:url" content="hardinerna.com">
	<meta name="twitter:image:src" content="{{ site.url }}/assets/images/bg.jpg?cachebuster=1">
	<meta property="og:title" content="{{ site.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}" />
	<meta property="og:image" content="{{ site.url }}/assets/images/bg.jpg?cachebuster=1" />
	<meta property="og:description" content="{{ site.description }}" />

	<!--[if lte IE 8]><script src="{{ '/assets/js/ie/html5shiv.js' | absolute_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}" />
	<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ '/assets/css/ie8.css' | absolute_url }}" /><![endif]-->
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ '/assets/css/ie9.css' | absolute_url }}" /><![endif]-->

</head>
