<!-- Panel (Spotlight) -->
<section class="panel spotlight large left">
  <div class="content span-8">
    <h2 class="major">
      The Groom, from the bride’s eye.
    </h2>
    <p>
      Hardin was born on the 30th January 1991, and is the eldest out of three siblings.He is a joyful person who is
      loved by everyone around him. He gets along easily with everyone of all ages, from kids to elderly. It is hard
      to see him with a frown on his face.He is a caring son, brother,friend and fiance’ who is selfless and always puts
      everyone else before himself. He will go out of his way to help others who are less fortunate than him even if it
      means that he has to sacrifice something of his own.He is a determined and ambitious person and is not afraid to
      step outside of his comfort zone. Being highschool sweethearts, Hardin has always been there for me since I was
      15 and never fails to take care of me. Even after 12 years,he goes along with any crazy, random, impulsive ideas
      that I make within reasons. He is the person I talk to about my worries and problems. The person I talk to, first
      thing in the morning and the only person who understands the line of work I’m in which requires me to sacrifice
      most of my time for work. Never once he complains about me being an architect. He makes me laugh and lift me up
      at times when I feel like giving up. Hence,it is safe to say that I am very grateful and lucky to be marrying my
      best friend.
    </p>
  </div>
  <div class="image filtered tinted" data-position="top right">
    <img src="assets/images/pic03.jpg" alt="" />
  </div>
</section>
