<!-- Panel (Spotlight) -->
<section class="panel spotlight medium right" id="first">
  <div class="content span-8">
    <h2 class="major">
      The Bride, from the Groom’s eye.
    </h2>
    <p>
      Erna Syafina , 26 years old, eldest of 2 siblings. She is very outgoing and adventurous. Enjoys finding new things
      to try and will be the one planning random trips or things to do. On top of that, she is also a very sociable
      person. I love that she always puts family first before anyone or anything else. She is a very affectionate
      girlfriend. She loves to eat Japanese food(before this her favourite was Italian food)(her favourite thing changes
      frequently). Not only that she has the look but she is also very intelligent.Graduated with a Masters in
      Architecture from Kent University. Loves her job and very passionate about her work. Erna is also very ambitious
      I know that one day she will be a successful architect. She also loves to travel to places with scenic views and
      of course to visit famous architecture buildings. She makes me laugh even in the worst situation. I am very lucky
      to have someone that appreciates me for who I am and always support me in whatever I decide to do since the
      beginning. Last but not least she never gets bored of hearing about my day.
    </p>
  </div>
  <div class="image filtered tinted" data-position="top left">
    <img src="assets/images/pic02.jpg" alt="" />
  </div>
</section>
