<!DOCTYPE HTML>

<html>
{% include head.html %}
<body>
{% include header.html %}

<section id="one" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic01.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>The Bride</h2>
			</header>
			<p>
				Erna Syafina , 26 years old, eldest of 2 siblings. She is very outgoing and adventurous. Enjoys finding new
				things to try and will be the one planning random trips or things to do. On top of that, she is also a very
				sociable person. I love that she always puts family first before anyone or anything else. She is a very
				affectionate girlfriend. She loves to eat Japanese food(before this her favourite was Italian food)(her
				favourite thing changes frequently). Not only that she has the look but she is also very intelligent. Graduated
				with a Masters in Architecture from Kent University. Loves her job and very passionate about her work. Erna is
				also very ambitious I know that one day she will be a successful architect. She also loves to travel to places
				with scenic views and of course to visit famous architecture buildings. She makes me laugh even in the worst
				situation. I am very lucky to have someone that appreciates me for who I am and always support me in whatever I
				decide to do since the beginning. Last but not least she never gets bored of hearing about my day.
			</p>
			<h3>Fun Fact</h3>
			<p>
				She is scared of chilli sauce on its own. Would not dare to even touch it. Hates the smell of cucumber. Eats
				bean sprouts on its own but not when it’s mixed with other things. We have different opinion when it comes to
				food. But that is how we get to try new things from each other.
			</p>
			<p>
				<strong>- Written by Hardin</strong>
			</p>
		</div>
		<a href="#two" class="goto-next scrolly">Next</a>
	</div>
</section>

<section id="two" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic01.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>The Groom</h2>
			</header>
			<p>
				Hardin was born on the 30th January 1991, and is the eldest out of three siblings.He is a joyful person who is
				loved by everyone around him.He gets along easily with everyone of all ages, from kids to elderly. It is hard to
				see him with a frown on his face.He is a caring son, brother,friend and fiance’ who is selfless and always puts
				everyone else before himself. He will go out of his way to help others who are less fortunate than him even if
				it means that he has to sacrifice something of his own.He is a determined and ambitious person and is not afraid
				to step outside of his comfort zone. Being highschool sweethearts, Hardin has always been there for me since I
				was 15 and never fails to take care of me. Even after 12 years,he goes along with any crazy, random, impulsive
				ideas that I make within reasons. He is the person I talk to about my worries and problems. The person I talk
				to, first thing in the morning and the only person who understands the line of work I’m in which requires me to
				sacrifice most of my time for work. Never once he complains about me being an architect. He makes me laugh and
				lift me up at times when I feel like giving up. Hence,it is safe to say that I am very grateful and lucky to be
				marrying my best friend.
			</p>
			<h3>Fun Fact</h3>
			<p>
				Despite being born into a family of half Chinese, Hardin enjoys traditional Malay food which includes
				‘ulam-ulaman’ and umai (sarawak traditional ceviche) and dislike cheese; any type of cheese is a big no for
				him(unless on pizza). Growing up, although he is not lactose intolerant, he does not drink any type of milk.
				That is his weakness.
			</p>
			<p>
				<strong>- Written by Erna</strong>
			</p>
		</div>
		<a href="#three" class="goto-next scrolly">Next</a>
	</div>
</section>

<section id="three" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic01.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Our Story</h2>
			</header>
			<div class="flex-parent">
				<div class="input-flex-container">
					<div class="input active">
						<span data-year="" data-info="Sep 06"></span>
					</div>
					<div class="input">
						<span data-year="" data-info="Oct 06"></span>
					</div>
					<div class="input">
						<span data-year="" data-info="Jan 07"></span>
					</div>
					<div class="input">
						<span data-year="" data-info="16 Sept 17"></span>
					</div>
					<div class="input">
						<span data-year="" data-info="31 Dec 17"></span>
					</div>
					<div class="input">
						<span data-year="" data-info="1st Jan 18"></span>
					</div>
					<div class="input">
						<span data-year="" data-info="31st Mar 18"></span>
					</div>
					<div class="input">
						<span data-year="" data-info="31st Aug 18"></span>
					</div>
				</div>
				<div class="description-flex-container">
					<p class="active">
						Erna and Hardin met in the state library for the first time. You can say it was love at first sight.
					</p>
					<p>
						They’ve added each other on Friendster and MSN Messenger and exchanged numbers. Hardin initiated their first
						conversation via text message during the first day of Raya.
					</p>
					<p>
						Hardin met Erna’s parents for the first time. And invited her to an event.<br /><br />
						Fast forward to 2017 after all the ups and the downs,going through the transition from highschool to
						universities, long distance, part time jobs,birthdays,anniversaries and everything that happened in between.
					</p>
					<p>Erna and Hardin got pre-engaged (bertekul, a Sarawakian custom of asking both parents for the agreement of
						their union) (also known as engaged to others)
					</p>
					<p>
						Both sides decided on a date for the wedding.
					</p>
					<p>
						Full on wedding planning mode for both sides.
					</p>
					<p>
						Hardin decided to plan a surprise proposal for Erna on her birthday eventhough they were already engaged, in
						order to make it more memorable and special.
					</p>
					<p>
						The day we will officially become husband and wife.
					</p>
				</div>
			</div>
		</div>
		<a href="#four" class="goto-next scrolly">Next</a>
	</div>
</section>

<section id="four" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic01.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<h2>Event Details</h2>
			</header>
			<ul class="icons-grid">
				<li>
					<span class="icon major fa-diamond"></span>
					<h3>Nikah / Solemnization</h3>
					<p>
						31st August 2018<br />
						4:30pm<br />
						268 Jalan Datuk Ajibah Abol, 93400, Kuching, Sarawak
					</p>
				</li>
				<li>
					<span class="icon major fa-heart-o"></span>
					<h3>Sanding / Reception</h3>
					<p>
						1st September 2018<br />
						6:30pm - late<br />
						Borneo Convention Centre Kuching
					</p>
				</li>
			</ul>
		</div>
		<a href="#five" class="goto-next scrolly">Next</a>
	</div>
</section>

<section id="five" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic02.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<span class="icon major fa-home"></span>
				<h2>Accommodation</h2>
			</header>
			<p>Recommended places to stay in Kuching.</p>
			<h3>Hotels (within Kuching City)</h3>
			<p>
				1. Waterfront Hotel (on top of a shopping mall and facing the waterfront).<br />
				2. Riverside Majestic Hotel (facing the waterfront).<br />
				3. Grand Margherita Hotel (facing the waterfront).<br />
				4. Merdeka Palace (for two or three bedroom apartments).<br />
				5. Ranee boutique Hotel (facing the waterfront).<br />
				6. Marian Boutique Hotel.<br />
				7. UCSI Hotel (near to the wedding venue but far from the city) (for those who comes a day before).
			</p>
			<h3>Airbnb / Apartments</h3>
			<p>
				1. Riverbank Suite.<br />
				2. Ariva Gateway.<br />
				3. Citadine (opposite a shopping mall).<br />
				4. Vivacity (on top of a Viva City mall) (5 mins away from the center of Kuching).<br />
				* For other apartments please search on <a href="https://airbnb.com" target="_blank">airbnb</a>.
			</p>
		</div>
		<a href="#six" class="goto-next scrolly">Next</a>
	</div>
</section>

<section id="six" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic02.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<span class="icon major fa-image"></span>
				<h2>Attractions</h2>
			</header>
			<p>Things you can do in Kuching, Sarawak.</p>
			<p>
				1. Hike to Bako National Park.<br />
				2. Walk around Kuching city.<br />
				3. Take the sampan (small boat).<br />
				4. River cruise.<br />
				5. Kayaking.<br />
				6. Cave exploring.<br />
				7. Cultural Village.<br />
				8. Hike Mount Santubong or Mount Serapi.<br />
				9. Visit Semenggoh, Orang Utans.<br />
				10. Crocodile farm.<br />
				11. Waterfall<br />
				12. <strong>EAT!</strong>
			</p>
		</div>
		<a href="#seven" class="goto-next scrolly">Next</a>
	</div>
</section>

<section id="seven" class="main special">
	<div class="container">
		<span class="image fit primary"><img src="assets/images/pic02.jpg" alt="" /></span>
		<div class="content">
			<header class="major">
				<span class="icon major fa-spoon"></span>
				<h2>Food</h2>
			</header>
			<p>A must try:</p>
			<p>
				&bull; Mee kolok (Mee kolok Hj Salleh, Nuromen).<br />
				&bull; Laksa Sarawak (mdm tangs, chong choon, swee kang).<br />
				&bull; Rojak Cucur Ayam (Rojak Kuchei).<br />
				&bull; Seafood! Eg. butter prawn, salted egg crab, ochian (oyster pancake) (topspot, rockroad, muara tebas, buntal).<br />
				&bull; Midin belacan, Linut, Umai, ulam (lepau).<br />
				&bull; Ice kacang and cucur udang (dessert) (Swee kang, old rex cucur).
			</p>
			<p>For the <strong>non halal food</strong>, recommendations by the locals:</p>
			<p>
				&bull; Bak Kut Teh (Goh Fun Kee Bak Kut Teh).<br />
				&bull; Laksa Sarawak recommended by Anthony Bourdain (Choon Hui).<br />
				&bull; Pork Ribs (Howdy).<br />
				&bull; I.P.H. Roasted Cafe.
			</p>
		</div>
		<a href="#footer" class="goto-next scrolly">Next</a>
	</div>
</section>

{% include footer.html %}

</body>
</html>
